button {
	margin-right: 4px;
	font-family: Arial;
}
span.label {
  font-family: Arial;	
}
input[type="checkbox"] {
	margin-right: 4px;
}
div.embeds {
	height: 280px;
	overflow: scroll
}
div.media_standart {
	width: 236px;
	height: 225px;
}