@font-face{ 
	 font-family: 'WebSymbolsRegular';
    src: url('/static/fonts/websymbols-regular-webfont.eot');
    src: url('/static/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('/static/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.webfont {
	font-family: "WebSymbolsRegular";
}
.webfont > span {
	margin-left: 5px;
	font-family: 'IdolwildRegular';
  
}

a.webfont:hover {
	color:inherit;
	text-decoration: none;
}

.webfont.x-alt:before { content: '×'; }
.webfont.vimeo:before { content: 'm'; }
.webfont.movie:before { content: 'M'; }
.webfont.youtube:before { content: 'y'; }
.webfont.code:before { content: 'H'; }
.webfont.icons:before { content: '¹'; }
.webfont.link:before { content: 'K'; }
.webfont.sync:before { content: 'V'; }




