@font-face {
  font-family: 'ZeroZeroIsRegular';
  src: url('/static/fonts/zero_and_zero_is-webfont.eot');
  src: url('/static/fonts/zero_and_zero_is-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/zero_and_zero_is-webfont.woff') format('woff'), url('/static/fonts/zero_and_zero_is-webfont.ttf') format('truetype'), url('/static/fonts/zero_and_zero_is-webfont.svg#ZeroZeroIsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SortsMillGoudyRegular';
  src: url('/static/fonts/GoudyStM-webfont.eot');
  src: url('/static/fonts/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/GoudyStM-webfont.woff') format('woff'), url('/static/fonts/GoudyStM-webfont.ttf') format('truetype'), url('/static/fonts/GoudyStM-webfont.svg#SortsMillGoudyRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SortsMillGoudyItalic';
  src: url('/static/fonts/GoudyStM-Italic-webfont.eot');
  src: url('/static/fonts/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/GoudyStM-Italic-webfont.woff') format('woff'), url('/static/fonts/GoudyStM-Italic-webfont.ttf') format('truetype'), url('/static/fonts/GoudyStM-Italic-webfont.svg#SortsMillGoudyItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'SortsMillGoudyRegular';
  color: #808080;
  margin-top: 20px;
}
#header {
  color: #333333;
  font-family: 'ZeroZeroIsRegular';
  font-size: 123px;
  line-height: 123px;
}
#header .light {
  color: #999999;
}
#menu {
  list-style: none;
  margin: 0;
  font-size: 16px;
  line-height: 2em;
}
#menu li {
  color: #808080;
  display: inline;
  text-indent: -9999px;
  margin: 0;
  padding: 0 12px 0 0;
}
#menu .selected {
  color: #333333;
}
h3 {
  font-family: 'ZeroZeroIsRegular';
  font-size: 24px;
  color: #808080;
  font-weight: normal;
  margin-bottom: 20px;
}
span.dark {
  color: #333333;
}
h1 {
  font-family: 'ZeroZeroIsRegular';
  font-size: 48px;
  color: #808080;
  font-weight: normal;
  line-height: 2em;
}
button {
  margin-right: 4px;
  font-family: Arial;
}
.bar {
  padding: 3px;
  font-family: Arial;
  color: #333333;
}
p {
  text-align: left;
  margin: 0px;
}
.to_right {
  float: right;
}
#projects .description {
  margin-top: 30px;
  margin-bottom: 20px;
}
#projects .project_images {
  width: 288px;
  position: relative;
  height: 444px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 225px;
}
#projects .project_images img {
  float: right;
  padding: 0 1px 2px 1px;
}
#projects .images_wrapper {
  height: 444px;
}
.am-wrapper {
  float: left;
  position: relative;
  overflow: hidden;
}
.am-wrapper img {
  position: absolute;
  outline: none;
}
